<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Review Mapper
	</comment>
	
	<entry key="selectReviewList">
		SELECT  *
			  FROM	
			  	   (SELECT EB.*, ROWNUM RNUM
			  		  FROM
						(SELECT 
						       TB_REVIEW_BOARD.REVIEW_NO,
						       REVIEW_TITLE,
						       COUNT,
						       MEMBER_ID
						       REVIEW_PHOTO_ADDRESS || '/' || REVIEW_PHOTO_CHANGENAME "TITLE_IMG"
						  FROM
						       TB_REVIEW_BOARD
						  JOIN
						       TB_REVIEW_PHOTO ON (TB_REVIEW_BOARD.REVIEW_NO = TB_REVIEW_PHOTO.REVIEW_NO)
						  JOIN
						       TB_MEMBER ON (TB_REVIEW_BOARD.MEMBER_NO = TB_MEMBER.MEMBER_NO)     
						 WHERE
						       TB_REVIEW_BOARD.STATUS = 'Y'
						   AND
						       TB_REVIEW_PHOTO.FILELEVEL = 1
						 ORDER
						    BY
						       TB_REVIEW_BOARD.REVIEW_NO DESC)EB)
         WHERE
               RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="insertReviewBoard">
		INSERT
		  INTO
		       TB_REVIEW_BOARD
		       (
		       REVIEW_NO,
		       REVIEW_TITLE,
		       REVIEW_CONTENT,
		       CREATE_DATE,
		       STATUS,
		       MEMBER_NO,
		       )
		VALUES
		       (
		       SEQ_REVIEW_NO.NEXVAL,
		       ?,
		       ?,
		       SYSDATE,
		       DEFAULT,
		       ?
		       )		        
	</entry>
	
	<entry key="insertReviewPhoto">
		INSERT
		  INTO
		       TB_REVIEW_PHOTO
		       (
		       REVIEW_PHOTO_NO,
		       REVIEW_PHOTO_ORIGINNAME,
		       REVIEW_PHOTO_CHANGENAME,
		       REVIEW_PHOTO_ADDRESS,
		       REVIEW_NO,
		       STATUS,
		       FILELEVEL
		       )
	    VALUES
	           (
	           SEQ_REVIEW_PHOTO_NO.NEXTVAL,
	           ?,
	           ?,
	           ?,
	           SEQ_REVIEW_NO.CURRVAL,
	           DEFAULT,
	           ?
	           )      
		       
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</properties>
