<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Member Mapper
	</comment>
	
	<entry key="selectListCount">
		SELECT 
			  COUNT(*) 
		  FROM 
		  	  TB_MEMBER 
		 WHERE 
		 	  MEMBER_STATUS IN ('A','B','C','D')
	</entry>
	
	<entry key="selectList">
		SELECT * 
		  FROM(SELECT A.*, ROWNUM RNUM
		         FROM(SELECT
                            MEMBER_NO,
                            MEMBER_ID,
                            MEMBER_NAME,
                            EMAIL,
                            ENROLL_DATE,
                            ROWNUM R
                        FROM 
                            TB_MEMBER
		                ORDER 
		                   BY 
		                     CREATE_DATE DESC) A)
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="login">
		SELECT
				MEMBER_NO,
				MEMBER_ID,
				MEMBER_NAME,
				MEMBER_PWD,
				BIRTHDAY,
				PHONE,
				EMAIL,
				ENROLL_DATE,
				MEMBER_STATUS
			FROM
				TB_MEMBER
			WHERE
				MEMBER_ID = ?
			AND
				MEMBER_PWD = ?
			AND
				MEMBER_STATUS IN ('A', 'C')
				 
	</entry>
	
	<entry key="insertTBMember">
		INSERT
			INTO
				TB_MEMBER
			VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				?,
				?,
				?,
				?,
				?,
				?,
				DEFAULT,
				DEFAULT
				)
	
	</entry>
	

	<entry key="updatemember">
		UPDATE
				TB_MEMBER
			SET
				MEMBER_NAME = ?,
				BIRTHDAY = ?,
				PHONE = ?,
				EMAIL = ?
			WHERE
				MEMBER_ID = ?
			AND
				MEMBER_STATUS = 'C'
	</entry>
	

</properties>
