<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Member Mapper
	</comment>
	
	<entry key="selectListCount">
		SELECT 
			  COUNT(*) 
		  FROM 
		  	  TB_MEMBER 
		 WHERE 
		 	  MEMBER_STATUS IN ('A','B','C','D')
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (SELECT A.*,
        			   ROWNUM RNUM
		          FROM (SELECT
				                *
				          FROM 
				                TB_MEMBER
				         ORDER 
						    BY 
						       MEMBER_NO ASC) A
	    		   ORDER BY RNUM ASC)
 		  WHERE 
      			RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	<entry key="selectBlackListCount">
		SELECT 
			  COUNT(*) 
		  FROM 
		  	  TB_MEMBER 
		 WHERE 
		 	  MEMBER_STATUS = 'B'
	</entry>
	
	<entry key="blackListCount">
		
		SELECT 
				MEMBER_NO,
				MEMBER_ID,
				MEMBER_NAME,
				MEMBER_PWD,
				BIRTHDAY,
				PHONE,
				EMAIL,
				ENROLL_DATE,
				MEMBER_STATUS
	  	  FROM (SELECT A.*,
				       ROWNUM RNUM
		          FROM (SELECT
		                		*
				          FROM 
				                TB_MEMBER
				         ORDER 
						    BY 
				       			MEMBER_NO ASC) A
		       ORDER BY RNUM ASC)
		WHERE 
	      	  RNUM BETWEEN ? AND ?
      	  AND 
        	  MEMBER_STATUS = 'B'
	</entry>
	
	<entry key="login">
		SELECT
				MEMBER_NO,
				MEMBER_ID,
				MEMBER_NAME,
				MEMBER_PWD,
				BIRTHDAY,
				PHONE,
				EMAIL,
				ENROLL_DATE,
				MEMBER_STATUS
			FROM
				TB_MEMBER
			WHERE
				MEMBER_ID = ?
			AND
				MEMBER_PWD = ?
			AND
				MEMBER_STATUS IN ('A', 'C')
				 
	</entry>
	
	<entry key="insertTBMember">
		INSERT
			INTO
				TB_MEMBER
			VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				?,
				?,
				?,
				?,
				?,
				?,
				DEFAULT,
				DEFAULT
				)
	
	</entry>
	

	<entry key="updatemember">
		UPDATE
				TB_MEMBER
			SET
				MEMBER_NAME = ?,
				BIRTHDAY = ?,
				PHONE = ?,
				EMAIL = ?
			WHERE
				MEMBER_ID = ?
			AND
				MEMBER_STATUS = 'C'
	</entry>
	
	<entry key="idCheck">
		SELECT
				COUNT(*)
			FROM
				TB_MEMBER
			WHERE
				MEMBER_ID = ?
	
	</entry>
	
	<entry key="updatePwd">
		UPDATE
				TB_MEMBER
			SET
				MEMBER_PWD = ?
			WHERE
				MEMBER_NO = ?
			AND
				MEMBER_PWD = ?
			AND
				MEMBER_STATUS IN ('A', 'C') 	
	
	</entry>
	
	<entry key="selectMember">
		SELECT
				MEMBER_NO,
				MEMBER_ID,
				MEMBER_NAME,
				MEMBER_PWD,
				BIRTHDAY,
				PHONE,
				EMAIL,
				ENROLL_DATE,
				MEMBER_STATUS
			FROM
				TB_MEMBER
			WHERE
				MEMBER_STATUS IN ('A', 'C')
			AND
				MEMBER_ID = ?
				
	</entry>
	
	<entry key="deleteMember">
		UPDATE
				TB_MEMBER
			SET
				MEMBER_STATUS = 'D'
			WHERE
				MEMBER_NO = ?
			AND
				MEMBER_PWD = ?
	
	
	</entry>
	
	<entry key="reservation">
	SELECT
               MANAGEMENT_NO,
                STATUS,
                CAR_NO,
                C.LOCATION_NO,
                LOCATION_NAME,
                MODEL_NAME,
                FUEL_NAME,
                BRAND_NAME,
                GRADE_NAME,
                YEAR,
                GRADE_PRICE,
                MODEL_PRICE,
                YEAR_PRICE
          FROM
                TB_CAR C
          JOIN  
                TB_CAR_BRIDGE CB
            ON (C.MANAGEMENT_NO = CB.MANAGEMENT_NO)
          JOIN
                TB_LOCATION L
            ON (C.LOCATION_NO = L.LOCATION_NO)
          JOIN
                TB_MODEL M
            ON (CB.MODEL_NO = M.MODEL_NO)
          JOIN
                TB_FUEL F
            ON (CB.FUEL_NO = F.FUEL_NO)
          JOIN
                TB_BRAND B
            ON (CB.BRAND_NO = B.BRAND_NO)
          JOIN
                TB_GRADE G
            ON (CB.GRADE_NO = G.GRADE_NO)
          JOIN
                TB_YEAR Y
            ON (CB.YEAR_NO = Y.YEAR_NO)
          JOIN
                TB_RESERVATION R
            ON (C.MANAGEMENT_NO = R.MANAGEMENT_NO)
          JOIN
                TB_MEMBER MM
            ON (R.RESERVATION_NO = MM.MEMBER_NO)
        WHERE 
            MM.MEMBER_NO = ?
	
	
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</properties>
