<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Event Mapper
	</comment>
	
	<entry key="insertEventBoard">
		INSERT
		  INTO
		       TB_EVENT_BOARD
		       (
		       EVENT_NO,
		       EVENT_TITLE,
		       EVENT_CONTENT,
		       CREATE_DATE,
		       STATUS,
		       MEMBER_NO
		       )
        VALUES
               (
               SEQ_EVENT_BOARD_NO.NEXTVAL,
               ?,
               ?,
               SYSDATE,
               DEFAULT,
               ?
               )		       
	</entry>
	
	<entry key="insertEventPhoto">
		INSERT 
		  INTO
		       TB_EVENT_PHOTO
		       (
		       EVENT_PHOTO_NO,
		       EVENT_PHOTO_ONAME,
		       EVENT_PHOTO_CNAME,
		       EVENT_PHOTO_ADDRESS,
		       EVENT_NO,
		       STATUS,
		       FILELEVEL
		       )
   	    VALUES
   	           (
   	           SEQ_EVENT_PHOTO_NO.NEXTVAL,
   	           ?,
   	           ?,
   	           ?,
   	           SEQ_EVENT_BOARD_NO.CURRVAL,
   	           DEFAULT,
   	           ?
   	           )
   	                 
	</entry>
	
	<entry key="selectEventList">
		SELECT 
		       TB_EVENT_BOARD.EVENT_NO,
		       EVENT_TITLE,
		       COUNT,
		       EVENT_PHOTO_ADDRESS || '/' || EVENT_PHOTO_CNAME "TITLE_IMG"
		  FROM
		       TB_EVENT_BOARD
		  JOIN
		       TB_EVENT_PHOTO ON (TB_EVENT_BOARD.EVENT_NO = TB_EVENT_PHOTO.EVENT_NO)
		 WHERE
		       TB_EVENT_BOARD.STATUS = 'Y'
		   AND
		       TB_EVENT_PHOTO.FILELEVEL = 1
		 ORDER
		    BY
		       TB_EVENT_BOARD.EVENT_NO DESC                  
		        
	</entry>
	
	
	
	
	
	
	
	
	
	
	

</properties>
