<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Event Mapper
	</comment>
	
	<entry key="insertEventBoard">
		INSERT
		  INTO
		       TB_EVENT_BOARD
		       (
		       EVENT_NO,
		       EVENT_TITLE,
		       EVENT_CONTENT,
		       CREATE_DATE,
		       STATUS,
		       MEMBER_NO
		       )
        VALUES
               (
               SEQ_EVENT_BOARD_NO.NEXTVAL,
               ?,
               ?,
               SYSDATE,
               DEFAULT,
               ?
               )		       
	</entry>
	
	
	
	

</properties>
