<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Event Mapper
	</comment>
	
	<entry key="insertEventBoard">
		INSERT
		  INTO
		       TB_EVENT_BOARD
		       (
		       EVENT_NO,
		       EVENT_TITLE,
		       EVENT_CONTENT,
		       CREATE_DATE,
		       STATUS,
		       MEMBER_NO
		       )
        VALUES
               (
               SEQ_EVENT_BOARD_NO.NEXTVAL,
               ?,
               ?,
               SYSDATE,
               DEFAULT,
               ?
               )		       
	</entry>
	
	<entry key="insertEventPhoto">
		INSERT 
		  INTO
		       TB_EVENT_PHOTO
		       (
		       EVENT_PHOTO_NO,
		       EVENT_PHOTO_ORIGINNAME,
		       EVENT_PHOTO_CHANGENAME,
		       EVENT_PHOTO_ADDRESS,
		       EVENT_NO,
		       STATUS,
		       FILELEVEL
		       )
   	    VALUES
   	           (
   	           SEQ_EVENT_PHOTO_NO.NEXTVAL,
   	           ?,
   	           ?,
   	           ?,
   	           SEQ_EVENT_BOARD_NO.CURRVAL,
   	           DEFAULT,
   	           ?
   	           )
   	                 
	</entry>
	
	<entry key="selectEventList">
		SELECT  *
			  FROM	
			  	   (SELECT EB.*, ROWNUM RNUM
			  		  FROM
						(SELECT 
						       TB_EVENT_BOARD.EVENT_NO,
						       EVENT_TITLE,
						       COUNT,
						       EVENT_PHOTO_ADDRESS || '/' || EVENT_PHOTO_CHANGENAME "TITLE_IMG"
						  FROM
						       TB_EVENT_BOARD
						  JOIN
						       TB_EVENT_PHOTO ON (TB_EVENT_BOARD.EVENT_NO = TB_EVENT_PHOTO.EVENT_NO)
						 WHERE
						       TB_EVENT_BOARD.STATUS = 'Y'
						   AND
						       TB_EVENT_PHOTO.FILELEVEL = 1
						 ORDER
						    BY
						       TB_EVENT_BOARD.EVENT_NO DESC)EB)
         WHERE
               RNUM BETWEEN ? AND ? 		       
		                        
		        
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       TB_EVENT_BOARD
		   SET
		       COUNT = COUNT + 1
		 WHERE
		       EVENT_NO = ?
		   AND
		       STATUS = 'Y'               
	</entry>
	
	<entry key="selectEvent">
		SELECT
		       EVENT_NO,
		       EVENT_TITLE,
		       EVENT_CONTENT,
		       CREATE_DATE,
		       MEMBER_NAME,
		       STATUS,
		       COUNT
		  FROM 
		       TB_EVENT_BOARD
          JOIN 
               TB_MEMBER USING(MEMBER_NO)		       
		 WHERE
		       EVENT_NO = ?
		   AND
		       TB_EVENT_BOARD.STATUS = 'Y'           
		             
	</entry>
	
	
	
	<entry key="selectEventPhoto">
		SELECT
		       EVENT_PHOTO_NO,
		       EVENT_PHOTO_ORIGINNAME,
		       EVENT_PHOTO_CHANGENAME,
		       EVENT_PHOTO_ADDRESS,
		       EVENT_NO,
		       STATUS,
		       FILELEVEL
          FROM
               TB_EVENT_PHOTO
         WHERE
               EVENT_NO = ?
           AND
               STATUS = 'Y'
         ORDER
            BY
               FILELEVEL ASC                   
	</entry>
	
	<entry key="selectListCount">
		SELECT 
		 	   COUNT(*)
		  FROM
		       TB_EVENT_BOARD
		 WHERE
		       STATUS = 'Y' 	
	</entry>
		
	<entry key="deleteEventBoard">
		UPDATE
		       TB_EVENT_BOARD
		   SET
		       STATUS = 'N',
		       COUNT = 0
		 WHERE
		       EVENT_NO = ?               
	</entry>
	
	
	<entry key="deleteEventPhoto">
		UPDATE
		       TB_EVENT_PHOTO
		   SET
		       STATUS = 'N'
		 WHERE
		       EVENT_NO = ?         
	</entry>
	
	<entry key="updateBoard">
		UPDATE
		       TB_EVENT_BOARD
		   SET
		       EVENT_TITLE = ?,
		       EVENT_CONTENT = ?
         WHERE
               EVENT_NO = ?
           AND 
               STATUS = 'Y'    		       
	</entry>
	
	<entry key="updatePhoto">
		UPDATE
		       TB_EVENT_PHOTO
		   SET
		       EVENT_PHOTO_ORIGINNAME = ?,
		       EVENT_PHOTO_CHANGENAME = ?
		 WHERE
		       PHOTO_NO = ?
		   AND  
		       EVENT_NO = ?    
   	       AND
   	           STATUS = 'Y'
   	                
		           
	</entry>
	
	
	
	
	
	
	
	
	
	
	

</properties>
