<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Cs Mapper
	</comment>
	
	<entry key="selectCsListCount">
		SELECT COUNT(*) FROM TB_CS_BOARD WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectCsList"> 
		SELECT 
			  *
		  FROM
				(SELECT 
					   A.* , 
				       ROWNUM RNUM 
				  FROM 
				      (SELECT 
				             * 
				        FROM
				            TB_CS_BOARD
                        JOIN
                            TB_MEMBER USING(MEMBER_NO)
				    ORDER BY 
				            CS_NO DESC) A
				        WHERE
				        	  STATUS = 'Y')
    	 WHERE 
				RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="csDetail">
		SELECT * FROM TB_CS_BOARD JOIN TB_MEMBER USING(MEMBER_NO) WHERE CS_NO = ?
	</entry>
	
	<entry key="insertCs">
		
		INSERT INTO TB_CS_BOARD VALUES(SEQ_CS_BOARD_NO.NEXTVAL, ?, ?, DEFAULT, DEFAULT, DEFAULT, ?)
		
		
	</entry>
	
	<entry key="insertAttachment">
	
		INSERT 
		  INTO 
			  TB_CS_PHOTO(FILE_NO,
			  			  REF_NO,
			  			  ORIGIN_NAME, 
			  			  CHANGE_NAME, 
			  			  FILE_PATH) 
				   VALUES(SEQ_CS_PHOTO_NO.NEXTVAL, 
				  	     SEQ_CS_BOARD_NO.CURRVAL, 
				  	     ?, 
				  	     ?, 
				  	     ?)
	</entry>
	
	<entry key="selectAttachment">
		SELECT * FROM TB_CS_PHOTO WHERE REF_NO = ?
	</entry> 
	
	<entry key="deleteCs">
		UPDATE TB_CS_BOARD SET STATUS = 'N' WHERE CS_NO = ?
	</entry>
	
	<entry key="selectAttachmentByCsNo">
		SELECT COUNT(*) FROM TB_CS_PHOTO WHERE REF_NO = ?
	</entry>
	
	<entry key="deleteAttachment">
		UPDATE TB_CS_PHOTO SET STATUS = 'N' WHERE REF_NO = ?
	</entry>
	
	<!-- 
	<entry key="searchedCsCount">
		SELECT 
				COUNT(*) 
		FROM 
				TB_CS_BOARD 
		JOIN 
				TB_MEMBER 
		USING (MEMBER_NO) 
		WHERE  
				(MEMBER_ID LIKE '%' || UPPER(?) || '%'
		    OR	
	 		 	MEMBER_ID LIKE '%' || LOWER(?) || '%')
	</entry>
	
	<entry key="searchedCsList">
	SELECT 
				*
		FROM 
				TB_CS_BOARD 
		JOIN 
				TB_MEMBER 
		USING (MEMBER_NO) 
		WHERE  
				(MEMBER_ID LIKE '%' || UPPER(?) || '%'
		    OR	
	 		 	MEMBER_ID LIKE '%' || LOWER(?) || '%')
	
	</entry>
	 -->
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>
