<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Cs Mapper
	</comment>
	
	<entry key="selectCsListCount">
		SELECT COUNT(*) FROM TB_CS_BOARD
	</entry>
	
	<entry key="selectCsList"> 
		SELECT 
			  *
		  FROM
				(SELECT 
					   A.* , 
				       ROWNUM RNUM 
				  FROM 
				      (SELECT 
				             * 
				        FROM
				            TB_CS_BOARD
                        JOIN
                            TB_MEMBER USING(MEMBER_NO)
				    ORDER BY 
				            CS_NO ASC) A)
    	 WHERE 
				RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchedCsCount">
		SELECT 
				COUNT(*) 
		FROM 
				TB_CS_BOARD 
		JOIN 
				TB_MEMBER 
		USING (MEMBER_NO) 
		WHERE  
				(MEMBER_ID LIKE '%' || UPPER(?) || '%'
		    OR	
	 		 	MEMBER_ID LIKE '%' || LOWER(?) || '%')
	</entry>
	
	<entry key="searchedCsList">
	SELECT 
				*
		FROM 
				TB_CS_BOARD 
		JOIN 
				TB_MEMBER 
		USING (MEMBER_NO) 
		WHERE  
				(MEMBER_ID LIKE '%' || UPPER(?) || '%'
		    OR	
	 		 	MEMBER_ID LIKE '%' || LOWER(?) || '%')
	
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>
