<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Cs Mapper
	</comment>
	
	<entry key="selectCsListCount">
		SELECT COUNT(*) FROM TB_CS_BOARD
	</entry>
	
	<entry key="selectCsList"> 
		SELECT 
			  CS_TITLE,
              MEMBER_ID,
              CS_CONTENT,
              REPLY_YN
		  FROM
				(SELECT 
					   A.* , 
				       ROWNUM RNUM 
				  FROM 
				      (SELECT 
				             * 
				        FROM
				            TB_CS_BOARD
                        JOIN
                            TB_MEMBER USING(MEMBER_NO)
				    ORDER BY 
				            CS_NO DESC) A)
    	 WHERE 
				RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>
